<div class="container-fluid">
    <div class="row" style="margin-top: 25px;">
        <div *ngIf="libraryComponents" class="col-md-10 col-xs-12 col-md-offset-1 push-md-1">
            <div class="content-header">
                <h3 style="margin-bottom: 15px;">{{libraryComponents.title}}</h3>
                
            </div>
            <div class="content-box" id="content">
                <div  id="example">
                    <div class="item">
                        <p style="margin-bottom: 15px;">{{libraryComponents.shortDescription}}<a *ngIf="libraryComponents.apiLink" [attr.href]="libraryComponents.apiLink" target="_blank" class="detailsLink">API documentation</a></p>
                        
                        <h3 style="margin-bottom: 15px;">Usage</h3>
                        <div *ngFor="let child of libraryComponents.usage">
                            <div style="margin-bottom: 15px;">
                                <h4 style="margin-bottom: 15px;">{{child.title}}</h4>
                                <div [innerHTML]="child.use"></div>
                            </div>
                            <div *ngIf="child.example">
                                <h3 style="margin-bottom: 15px;">Example</h3>
                                <div class="container-fluid" style="border:1px solid #cecece;padding: 10px;margin-bottom: 15px;">
                                    <dl-example-component [id]="child.example"></dl-example-component>
                                </div>
                            </div>

                        </div>
                        <div *ngIf="libraryComponents.inputs">
                            <h3 style="margin: 30px 0 15px 0;">{{libraryComponents.inputTitle}}</h3>
                            <table  class="table table-sm table-hover">
                                <tr *ngFor="let input of libraryComponents.inputs">
                                    <td *ngIf="input.col1" class="col-xs-3"><code>{{input.col1}}</code></td>
                                    <td *ngIf="input.col2" class="col-xs-9">
                                        <div><i>Type:</i> <code>{{input.col2}}</code></div>
                                        <div><p>{{input.description}}</p></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <a *ngIf="libraryComponents.detailsLink" [attr.href]="libraryComponents.detailsLink" target="_blank" class="detailsLink">For more information click here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>